$backcolor : #F9ECE4;
$maincolor : #189AA7;
$strongcolor: #21C4D3;

body{
    background-color: $backcolor;
    margin: 0 auto;
header {
    width: 100%;
    text-align: center;
    background-color: $maincolor;
    h1{
        margin: 0;
    }
}
main{
    width: 80%;
    margin: 0 auto;

    h2{
        color: $strongcolor;
        border-bottom: solid 5px $strongcolor;
    }
    .area1{
        text-align: center;
        width: 80%;

        .outputTF{
            display: inherit;
            background-color: white;
            width: 80%;
            height: 41%;
            border: solid gray 1px;
            border-radius: 2px;
            margin: auto;
        }
    }
    .out-area{
        display: flex
    }
    .numinput ,.output{
            width: 80% ;
        }
    footer{
        background-color: $maincolor;
        text-align: center;
        padding: 0.7rem;
        margin-top:0.5rem;
    }




}



}